<nav>
  <div class="img"><img src="assets/images/logo.png"></div>
  <ul class="nav">
    <li><a [routerLink]="['/home']">首页</a></li>
    <li><a [routerLink]="['/tongbu']">同步课</a></li>
    <li><a [routerLink]="['/course']">课程</a></li>
    <li><a [routerLink]="['/shequ']">社区</a></li>
  </ul>
  <div class="input"><input type="text" name="fname"value="搜索课程、问答" />
    <input type="submit" value="搜索" />
  </div>
  <div class="m"><img src="assets/images/ling.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="assets/images/m.png"></div>
</nav>
