.left{
    /* border:1px blue solid; */
    width: 160px;
    height: 460px;
    margin-left: 160px;
    margin-top: 20px;
    cursor: pointer;
   
}
.name{
    /* border:1px blue solid; */
   margin-left: 50px;
}
.fensi{
    /* border:1px blue solid; */
    font-family: '宋体';
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
}
.guanzhu{
      
    font-family: '宋体';
    font-size: 14px;
    margin-left: 60px;
}
.im1{
    width: 10px;
    height: 10px;
    /* margin-left:10px; */
}
.left ul{
    /* border:1px red solid; */
    margin-top: 20px;
}
.left ul li{
    height: 30px;
    /* border:1px blue solid; */
    margin-top: 10px;
    margin-left: -30px;
    list-style:none;
    font-weight: bold;

}
.left ul li:hover{
    background-color:pink;
    color: palevioletred;
    opacity: 0.5;
}
.left ul li a{
    color: black;
}
.left ul li span{
    float: right;
    font-weight: bolder;
    margin-right: 10px;
    margin-top: 3px;
}
