
<div class="left">
    <img src="assets/images/n.png">
    <span class="name">8-葛舒悦</span><br>
    <span style="margin-left:30px;">0</span>
    <span style="margin-left:84px;">0</span><br/>
    <span class="fensi">粉丝</span>
    <span class="guanzhu">关注</span>
    <ul>
      <li><a [routerLink]="['./tasks']"><img src="assets/images/task.png" class="im1">&nbsp;&nbsp;任务<span>></span></a></li>
      <li><a [routerLink]="['./tongbuke']"><img src="assets/images/tongbuke1.png" class="im1">&nbsp;&nbsp;同步课<span>></span></a></li>
      <li><a [routerLink]="['./courses']"><img src="assets/images/coursea.png" class="im1">&nbsp;&nbsp;课程<span>></span></a></li>
      <li><a [routerLink]="['./speak']"><img src="assets/images/speak.png" class="im1">&nbsp;&nbsp;且说<span>></span></a></li>
      <li><a [routerLink]="['./tongzhi']"><img src="assets/images/tongzhi.png" class="im1">&nbsp;&nbsp;通知<span>></span></a></li>
    </ul>
  </div>
  <div class="right">
    <router-outlet></router-outlet>
    
  </div>
  
<!-- <img src="assets/images/1.jpg"> -->